<h3>News for 2021</h3>
The workshop at the University of British Columbia (Vancouver, Canada) has been postponed by one more year due to COVID.
Therefore, we decided to have a series of online sessions on selected topics during this summer.
The sessions have a maximum length of two hours and consist of a few presentations and time for discussion.
The video seminar will be held on Zoom. There is no registration required.
You can download the online seminar programme and Zoom credentials <a href="/files/2021 PPNW-OMP announcement.pdf">here</a>
<br/><br/>
<ul>
    <li>3rd May 2021, The Methane Paradox in Lakes</li>
    <li>1st of June, Cyanobacteria in lake Models (envisaged)</li>
    <li>... more to come</li>
</ul>
