<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
{% include nav.html %}

<header class="header" style="background-image: url('img/header.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="header-content">
          <img src="img/logo.png" style="height: 44px;">
          <h1>PPNW</h1>
          <hr class="small">
          <span class="header-title">Physical processes in natural waters</span>
        </div>

      </div>
    </div>
  </div>
</header>

<div class="container">{{ content }}</div>
<hr>

{% include footer.html %}

</body>

</html>
