// Header

.header {
  background-color:      $gray;
  background-repeat:     no-repeat;
  background-position:   center center;
  background-attachment: scroll;
  margin-bottom:         50px;
  min-height:            500px;
  @include background-size(cover);
  .header-content {
    color:      white;
    padding:    150px 0 50px 0;
    text-align: center;
    h1 {
      margin-top: 0;
      font-size:  80px;
    }
    .header-title {
      font-family: $font-family-serif;
      font-size:   24px;
      font-weight: 300;
      display:     block;
      line-height: 1.1;
      margin:      10px 0 0;
    }
    h1, .header-title {
      text-shadow: 2px 2px 2px #969696;
    }
  }
}
