
$fa-font-path:         "fonts";

$brand-primary: #0085A1;
$gray-dark: lighten(black, 25%);
$gray: lighten(black, 50%);
$white-faded: fade(white, 80%);
$gray-light: #eee;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      $brand-primary;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:  'Lora', Arial, sans-serif;
$font-family-serif:       'Open Sans',  Arial, sans-serif;
$font-size-base:          20px;

//** By default, this inherits from the `<body>`.
$headings-font-family:   $font-family-serif;
$headings-font-weight:   800;


// Navbar links
$navbar-default-bg:                #FFF;
$navbar-default-border:            #CCC;
$navbar-default-link-color:                $brand-primary;
// $navbar-default-link-hover-color:          $brand-primary;
