// PPNW 2016

// Global variables
@import "variables";

// Import bootstrap
// We don't need all the components
@import "bootstrap/variables",
        "bootstrap/mixins",
        "bootstrap/normalize",
        "bootstrap/print",
        "bootstrap/scaffolding",
        "bootstrap/type",
        "bootstrap/code",
        "bootstrap/grid",
        "bootstrap/tables",
        "bootstrap/forms",
        "bootstrap/buttons",
        "bootstrap/component-animations",
        "bootstrap/dropdowns",
        "bootstrap/input-groups",
        "bootstrap/navs",
        "bootstrap/navbar",
        "bootstrap/breadcrumbs",
        "bootstrap/pagination",
        "bootstrap/labels",
        "bootstrap/badges",
        "bootstrap/thumbnails",
        "bootstrap/media",
        "bootstrap/list-group",
        "bootstrap/panels",
        "bootstrap/wells",
        "bootstrap/tooltip",
        "bootstrap/popovers",
        "bootstrap/utilities",
        "bootstrap/responsive-utilities",
        "fontawesome-free/scss/fontawesome.scss",
        "fontawesome-free/scss/regular.scss",
        "fontawesome-free/scss/solid.scss";

// Import custom theme
@import "mixins",
        "nav",
        "header",
        "general";