---
layout: default
title: Physical Processes in Natural Waters Workshop
---

<div class="block-container">
    <h3>Workshop on Physical Processes in Natural Waters (PPNW)</h3>
    <p>The PPNW workshop explore the physics of lakes and coastal water bodies. They look at the interactions with
        the physical and biogeochemical processes that control water quality, ecosystem functions, and the services
        these systems provide.</p>

    {% include banner.html %}

    <p>The open workshop seeks to expand contacts with neighbouring fields such as physical oceanography, the
        atmospheric sciences, and engineering. With forty to sixty participants and a small number of invited
        speakers, the PPNW meetings combine an active workshop atmosphere with a comfortable timeframe for
        presentations and discussions.</p>

    <h3>International Steering Committee</h3>
    <ul>
        {% for member in site.data.committee %}
        <li>
            {% if member.title %} <i>{{ member.title }}</i> &mdash; {% endif %}
            {% if member.email %}
                <a href="mailto:{{ member.email | url_encode }}">{{ member.name }}</a>
            {% else %}
                {{ member.name }}
            {% endif %}
            , {{ member.where }}
        </li>
        {% endfor %}
    </ul>
    <h3>Past conferences</h3>
    <div class="timeline">
        {% assign class = "left" %}

        {% for conf in site.data.past-conferences %}
        <div class="block-container {{ class }}{% if conf.highlight %} highlight{% endif %}">
            <div class="description">
                <h2>{{ conf.title }}</h2>
                <div class="d-flex">
                    {% if conf.image %}
                    <div class="p-2 flex-shrink-1">
                        <img src="img/{{ conf.image.fileName }}" title="Credits: {{ conf.image.credits }}" class="image"/>
                    </div>
                    {% endif %}
                    <div>
                        {{ conf.description }}
                        {% if conf.urls %}
                            {% for url in conf.urls %}
                                <br/><i class="{{ url.iconClass }}"></i> <a href="{{ url.href }}" target="_blank">{{ url.title }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if class == "left" %} {% assign class = "right" %} {% else %} {% assign class = "left" %} {% endif %}
        {% endfor %}
    </div>
</div>
